<template>
  <div class="home">
    <ApolloQuery :query="require('@/graphql/articles.gql')">
    <template slot-scope="{ result: { data, loading }, isLoading }">
      <div v-if="isLoading">Loading</div>
      <div v-else>
        <a href="#" v-for="article of data.articles" :key="article.id">
          {{ article.titre }}
        </a>
      </div>
    </template>
    </ApolloQuery>

  </div>
</template>

<script>
import gql from "graphql-tag";

export default {
  name: "HelloWorld",
  props: {
    msg: String
  },
  data: function() {
    return {
      articles: [],
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.link-margin {
  margin-right: 24px;

}
</style>
